<form name="{{model.name}}" ng-submit="model.submit($parent.inputs)">
    <div ng-repeat="(key, input) in model.inputs">

        <div ng-if="input.family === 'input'">
            <label for="{{input.label}}">{{input.label}}</label>
            <input id="{{input.label}}"
                    type="{{input.type}}"
                    ng-model="$parent.$parent.$parent.inputs[input.model]"
                    placeholder="{{input.placeholder}}"
                    min={{input.min}}
                    max={{input.max}}
                    value=1 step="{{input.step}}"/>
        </div>

        <div ng-if="input.family === 'textarea'">
            <label for="{{input.label}}">{{input.label}}</label>
            <textarea id="{{input.label}}" type="{{input.type}}" ng-model="$parent.$parent.$parent.inputs[input.model]" placeholder="{{input.placeholder}}"></textarea>
        </div>

        <div ng-if="input.family === 'select'">
            <label for="{{input.label}}">{{input.label}}</label>
            <select name="{{input.label}}" id="{{input.label}}" ng-model="$parent.$parent.$parent.inputs[input.model]">
                <option ng-repeat="option in input.options" value="{{option}}">{{option}}</option>
            </select>
        </div>

        <div ng-if="input.family === 'radio'">
            <label>{{input.label}}</label>
            <label ng-repeat="option in input.options" for="{{option}}">
                {{option}}
                <input type="{{$parent.input.type}}"
                       ng-model="$parent.$parent.$parent.$parent.inputs[input.model]"
                       ng-value="option"
                       id="{{option}}"
                       name="{{option}}">
            </label>
        </div>

        <div ng-if="input.family === 'checkbox'">
            <label>{{input.label}}</label>
            <label ng-repeat="option in input.options" for="{{option}}">
                {{option}}
                <input type="{{$parent.input.type}}"
                       ng-model="$parent.$parent.$parent.$parent.inputs[input.model][option]"
                       id="{{option}}"
                       name="{{option}}">
            </label>
        </div>
        <hr/>
    </div>
    <button ng-show="input.submit" type="submit" class="button">Submit</button>
</form>
The Object:
{{$parent.inputs}}
