pharzone.Api.state:
<div ng-repeat="(key,state) in pharzone.Api.state"><b>{{key}}: </b>{{state}}</div><hr/>
<div data-top-bar>
    <ul class='title-area'>
        <li class='name'>
            <h1>
                <a href='#/'>pharzone</a>
            </h1>
        </li>
        <li class='menu-icon' data-toggle-top-bar>
            <a href='#/'>
                <span></span>
            </a>
        </li>
    </ul>

    <div data-top-bar-section>
        <ul class='left'>
            <li ng-show="link.side==='left'" ng-repeat="link in pharzone.Api.models.nav" data-ui-sref-active='active'>
                <a data-ui-sref='{{link.state}}'>{{link.name | uppercase}}</a>
            </li>
        </ul>
        <ul class='right'>
            <li ng-show="link.side==='right'" ng-repeat="link in pharzone.Api.models.nav" data-ui-sref-active='active'>
                <a data-ui-sref='{{link.state}}' ng-click="link.action()">{{link.name | uppercase}}</a>
            </li>
        </ul>
    </div>
</div>
<ui-view></ui-view>