<div class="">
    <style>
        .fancy-checkbox input[type="checkbox"],
        .fancy-checkbox .checked {
            display: none;
        }
        .fancy-checkbox input[type="checkbox"],
        .fancy-checkbox .checked {
            display: none;
        }

        .fancy-checkbox input[type="checkbox"]:checked ~ .checked
        {
            display: inline-block;
        }

        .fancy-checkbox input[type="checkbox"]:checked ~ .unchecked
        {
            display: none;
        }
    </style>
    <b ng-show="$root.debug" ng-click="showSheet = !showSheet">Looking for tabular data</b>
    <div ng-if="showSheet">
        {{$parent.$parent.$parent.$parent.pharzone.Api.state[model.name]}} & {{data}}
    </div>
    <table class="small-12">
        <thead>
        <tr>
            <td colspan="100">
                <h3 class="columns small-2">{{model.name}}</h3>
                <div class="columns small-10">
                    {{model.filters}}
                    <div chit="{{model.filters}}"></div>
                </div>
            </td>
        </tr>
        </thead>
        <thead>
        <tr>
<!--
            <th width="5%">
                <label class="fancy-checkbox">
                    <input type="checkbox" ng-model="master" ng-change="mainSelect = $parent.$parent.$parent.pharzone.Api.methods.selected(selected, data)"/>
                    <i class="fa fa-2x fa-circle-o unchecked"></i>
                    <i class="fa fa-2x fa-check-circle-o checked"></i>
                </label>
                {{mainSelect}}
            </th>
-->
            <th ng-repeat="(key, th) in model.tHead" width="{{th.width}}">
                <span ng-hide="up" ng-click="$parent.orderBy = key; up = !up">{{key}}
                 <i ng-show="$parent.orderBy === '-'+key" class="fa fa-caret-up">
                </i>
                </span>
                <span ng-show="up" ng-click="$parent.orderBy = '-'+key; up = !up">{{key}}
                    <i ng-show="$parent.orderBy === key" class="fa fa-caret-down">
                    </i>
                </span>
                <span ng-if="th.type === 'button'">
                    <a href="" class="button" ng-click="th.action(data)">{{th.actionName}}</a>
                </span>
            </th>
        </tr>
        </thead>

        <tfoot>
            <tr>
                <td colspan="100">
                    <!--<code>SelectedObject: {{$parent.$parent.$parent.$parent.pharzone.Api.methods.selected(selected, data)}}</code>-->
                </td>
            </tr>
            <tr>
                <td ng-repeat="(key, footer) in model.tFoot"
                        colspan="{{footer.colspan}}">
                    <div ng-if="footer.type==='string'">
                        {{footer.value}}
                    </div>
                    <div ng-if="footer.type==='button'">
                        <button ng-click="footer.action(data)">{{key}}</button>
                    </div>
                    <div ng-if="footer.type==='watcher'">
                        <b>{{footer.action(data)}}</b>
                    </div>
                </td>
            </tr>
        </tfoot>

        <tbody>
            <tr ng-repeat="(key,data) in data | orderBy:orderBy | filter:inputs">
                <td ng-repeat="val in data">
                        <div ng-show="$first">
                            <label class="fancy-checkbox">
                                <input type="checkbox" ng-model="$parent.$parent.selected[key]"/>
                                <!-- TODO fix select on sort -->
                                <i class="fa fa-2x fa-circle-o unchecked small-1 columns"></i>
                                <i class="fa fa-2x fa-check-circle-o checked small-1 columns"></i>
                                <h5 class="small-11 columns">{{val}}</h5>
                            </label>
                        </div>
                     <div ng-show="!$first">{{val}}</div>
                </td>
            </tr>
        </tbody>

    </table>

</div>