<div ng-init="show = 'many';">
    <b>List Object </b>:
    <div ng-repeat="(key, obj) in $parent.$parent.$parent.pharzone.Api.data.object[model.name]"><b>{{key}}: </b>{{obj}}</div>
</div>
<ul ng-show="show==='many'" class="button-group rounded even-{{ model.nav.length }}">
    <li ng-repeat="link in model.nav">
        <a class="button info" ng-click="link.action(link.link, $parent.data)">{{link.link}}</a>
    </li>
</ul>
<ul ng-show="show==='one'" class="button-group rounded even-{{ model.actions.length+1 }}">
    <li>
        <a class="button" ng-click="show='many'"><i class="fa fa-arrow-circle-left"></i></a>
    </li>
    <li ng-repeat="action in model.actions">
        <a class="button info" ng-click="action.action(one)">{{action.text}}</a>
    </li>
</ul>
<div class="row" ng-show="show === 'many'">
    <div class="small-12 medium-2 columns">
        <div chit="{{model.filters}}"></div>
    </div>
    <div class="small-12 medium-10 columns">
        <div ng-repeat="item in data | orderBy:orderBy | filter:inputs" class="small-12 medium-4 large-3 columns left">
            <img ng-src="{{item.images[0]}}" class="small-12" alt="" ng-style="{height:'200px'}"/>
            <div class="panel">
                <h4>{{item.name}}</h4>
                <p>{{item.details}}</p>
                <a class="button small-12" ui-sref="pharzone.shop.product({ product: item.id })" ng-click="$parent.show = 'one'; $parent.one = item; $parent.list.setState('product', item)">{{item.price | currency}}</a>
                <p>From {{item.user}}</p>
            </div>
        </div>
    </div>
</div>
